{% extends 'admin/crud_base.thml.twig' %}

{% block title %}Edit Image{% endblock %}

{% block navbar %} {% include 'admin/navbar_admin_gallery.html.twig' %} {% endblock %}

{% block content %}
    <h1 align="center">Edit Image</h1>
    <br>

    {{ include('admin/image/_form.html.twig') }}

    <p align="center">
        <a href="{{ path('image_index') }}">
            <button class="btn btn-primary">Back to list</button>
        </a>
    </p>

    <p align="center">
        {{ include('admin/image/_delete_form.html.twig') }}
    </p>
{% endblock %}
