{% extends 'base.html.twig' %}

{% block body %}

<table class="table">
    <thead>
    <tr>
        <th>Photo</th>
        <th>File Name</th>
    </tr>
    </thead>
    <tbody>
    {% for image in images %}
        {% set fullImagePath = 'assets/main/images/gallery/' %}
        {% set fullImagePath = fullImagePath ~ image.path %}
        <tr>
            <td>
                <img src="{{ asset(fullImagePath) }}" alt="" height="30px" width="30px">
            </td>
            <td>{{ image.path }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}