{% extends 'admin/crud_base.thml.twig' %}

{% block title %} New Image {% endblock %}

{% block navbar %} {% include 'admin/navbar_admin_users.html.twig' %} {% endblock %}

{% block content %}
    <h1 align="center">Create new Image</h1>

    {% if errors is defined and errors is not null %}
        {% for error in errors %}
            <div class="alert alert-danger">
            <span class="d-block">
                <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                <span class="form-error-message">{{ error }}</span>
            </span>
            </div>
        {% endfor %}
    {% endif %}

    {{ include('admin/image/_form.html.twig') }}

    <p align="center">
        <a href="{{ path('image_index') }}">
            <button class="btn btn-primary">back to list</button>
        </a>
    </p>
{% endblock %}
