<form method="post" action="{{ path('order_prev_status', {'id': order.id}) }}"
      onsubmit="return confirm('Are you sure you want to move this item\'s status to in previous?');">

    <input type="hidden" name="_token" value="{{ csrf_token('prevStatus' ~ order.id) }}">
    <p align="center">
        <button class="btn btn-dark">Prev Status</button>
    </p>
</form>