{# <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 60px"> #}

{# </nav> #}

<style>
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .navbar-nav > li {
        display: inline-block;
        float: none;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand" style="margin-left: 50px">Preot.md</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('product_index') }}">Main page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('product_list') }}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_index') }}">Users</a>
                </li>
                <li style="width: 500px">
                    <form class="d-flex mx-5" onsubmit="setName(); return false">
                        <input class="name form-control me-2" id="myInput" name="name" type="text"
                               placeholder="Search products here"
                               aria-label="Search" size="30">
                        <button class="name btn btn-outline-success" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </form>
                </li>
                <li>
                    <label for="sortby" style="color: white; margin-left: 20px; margin-right: 20px; margin-top: 6px">Sort
                        by:</label>
                    <select id="sortby" onchange="changeSort(this.value)">
                        <option value="created_at:DESC">date (descending)</option>
                        <option value="created_at:ASC">date (ascending)</option>
                        <option value="price:DESC">price (descending)</option>
                        <option value="price:ASC">price (ascending)</option>
                    </select>
                </li>
                <li>
                    <label for="limit" style="color: white; margin-left: 20px; margin-right: 20px; margin-top: 6px">Limit:</label>
                    <select id="limit" name="limit" onchange="changeLimit(this.value)">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                        <option value="80">80</option>
                        <option value="120">120</option>
                    </select>
                </li>
            </ul>
            <a href="{{ path('app_logout') }}">
                <button type="button" class="btn btn-light me-2">Sign Out
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd"
                              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </button>
            </a>
        </div>
    </div>
</nav>

<script>
    var limit = document.getElementById("limit");
    var order = document.getElementById("sortby");

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    if (urlParams.has("limit")) {
        limit.value = urlParams.get("limit");
    } else {
        limit.value = 10;
    }

    if (urlParams.has("order")) {
        order.value = urlParams.get("order");
    } else {
        order.value = "created_at:DESC";
    }

    function changeLimit(value) {

        var urlSearchParams = new URLSearchParams(window.location.search);
        urlSearchParams.set('limit', value);
        urlSearchParams.set('page', 1);
        window.location.search = urlSearchParams;

        localStorage.setItem('limit', value);
    }

    function changeSort(value) {

        var urlSearchParams = new URLSearchParams(window.location.search);
        urlSearchParams.set('order', value);
        window.location.search = urlSearchParams;

        localStorage.setItem('order', value);
    }

    function setName() {
        var inputVal = document.getElementById("myInput").value;
        var urlSearchParams = new URL('http://localhost:8000/admin/products/');
        urlSearchParams.searchParams.set('name', inputVal);
        urlSearchParams.searchParams.set('page', 1);
        window.location.replace(urlSearchParams);
    }
</script>