.footer_content {
    color: #FFFFFF;
    position: relative;
    text-align: center;
    top: 100px;
}

.list-group-item {
    border: none;
    box-shadow: 0 0 50px 6px rgba(0,0,0,0.06);
}

.product_details {
    display: flex;
    justify-content: space-between;
}

.price {
    color: #198754;
}

a.page-link {
    color: #000!important;
}
.page-item.active .page-link {
    z-index: 0;
    background: #000!important;
    color: #fff!important;
    border-color: black;
}

#header {
    position: fixed;
    z-index: 1;
}

#content {
    position: relative;
    z-index: 1;
    top: 800px;
    background: whitesmoke;
}

#product-images {
    width: 50%;
    margin-left: 25%;
}

#description {
    font-size: 25px;
}

#price {
    font-size: 40px;
}

#product-name {
    font-size: 50px;
}

#product-code {
    font-size: 25px;
    color: #808080;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.custom-container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: black;
    font-size: 20px;
}

.backImage {
    background: lightgrey;
    width: 918px;
    height: 918px;
    position: relative;
}

#expandedImg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.lowerImages {
    display: flex;
    align-items: center;
}

.custom-container {
    display: flex;
    align-items: center;
}