<footer>
    <div class="footer_content">
        <p>You can search us on:</p>
        <div class="social">
            <a href="#"><img class="mx-4" src="{{ asset('assets/main/images/social/facebook.png') }}" width="30"
                             alt="1"></a>
            <a href="#"><img class="mx-4" src="{{ asset('assets/main/images/social/instagram.png') }}"
                             width="30"
                             alt="2"></a>
            <a href="#"><img class="mx-4" src="{{ asset('assets/main/images/social/github.png') }}" width="30"
                             alt="3"></a>
        </div>
    </div>
    <img class="img-fluid" src="{{ asset('assets/main/images/footer.jpg') }}" width="2000" alt="3">
</footer>