{% extends 'admin/crud_base.thml.twig' %}

{% block title %}Edit Product{% endblock %}

{% block navbar %} {% include 'admin/navbar_admin_products.html.twig' %} {% endblock %}

{% block content %}

    <h1 align="center">Edit Product</h1>
    <br>
    {{ include('admin/product/_form.html.twig') }}

    <p align="center">
        <a href="{{ path('product_list') }}">
            <button class="btn btn-primary">Back to list</button>
        </a>
    </p>
    {{ include('admin/product/_delete_form.html.twig') }}
{% endblock %}