<table class="table">
    <tbody>
    {% for item in order.items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.productCode }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>