<table class="table">
    <tbody>
    <tr>
        <th>Payment.card.code</th>
        <td>{{ order.payment.card.code }}</td>
    </tr>
    <tr>
        <th>Payment.card.cvv</th>
        <td>{{ order.payment.card.cvv }}</td>
    </tr>
    <tr>
        <th>Payment.card.expiresAt</th>
        <td>{{ order.payment.card.expiresAt ? order.payment.card.expiresAt|date('Y-m') : '' }}</td>
    </tr>
    </tbody>
</table>